/*@viewport {
   width: device-width;
   user-zoom:fixed;
}*/

@media only screen and (max-width: 320px) {
/*@media only screen and (max-width: 550px) {*/

    .menunavitems{
		display: none;
	}	

	.menunavicon{
		line-height: 45px;
		color: #0099FF;
		text-decoration: none;
		font-size: 18px;	
		text-align: center;
		vertical-align: text-bottom;
		padding: 10px;	
	}
	a:focus {
    background-color: #0099FF;
    color: black;
    border-radius: 5px;
}	

}

@media only screen and (min-width: 321px) {
/*@media only screen and (min-width: 551px) {	*/
  
	.menunavitems{
		/*color: white;*/
		/*color: #0066FF;*/
		line-height: 45px;
		color: #0099FF;
		text-decoration: none;
		font-size: 18px;	
		text-align: center;
		vertical-align: text-bottom;
		padding: 10px;	
	}	
	.menunavicon{
		display: none;
	}
	a:hover {
    background-color: #0099FF;
    color: black;
    border-radius: 5px;
}	

}
nav {
	background-color: black;
	width: 100%;
	height: 50px;
	text-align: right;
	padding: 10px;
	position: fixed;
	border-color: #0099FF;
	border-bottom: solid;
	border-width: thin;
}	
body {
	background-color: black;
	/*color: white;*/
	/*color: #0066FF;*/
	color: #0099FF;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	
}	
h1{
	font-size: 60px;
	text-align: center;
}	
a:hover a:focus {
    background-color: #0099FF;
    color: black;
    border-radius: 5px;
}	
p{
	text-align: center;
}	
i{
	padding: 10px;
}	
#navplace{
	height: 60px;
}	
#menunav{
	margin: 10px;
	padding-right: 20px;
}
#home{
	/*float: inherit;*/
	background-color: black;
	display: block;
	width: auto;
	height: 600px;
    padding: 10px;
    padding-top: 60px;
}	

#logo{
	float: left;
	height: 45px;
	width: 45px;
}

#aboutme{
	background-color: white;
	display: block;
	width: auto;
	height: 600px;
    padding: 10px;
    padding-top: 60px;	

}

#paboutme, #h1aboutme{
	/*color: black;*/
	/*color: #0066FF;*/
	color: #0099FF;
}	

.footerlist{
	list-style-type: none;
}
#footer{
	padding: 50px;
	font-size: 15px;
	text-align: center;
	height: 200px;	
}
.footeritems{
	/*color: white;*/
	/*color: #0066FF;*/
	line-height: 50px;
	color: #0099FF;
	text-decoration: none;
	font-size: 14px;	
	text-align: center;
	vertical-align: text-bottom;
	padding: 10px;
	padding-right: 20px;	
}
i{
	vertical-align: middle;
}

