nav {
	background-color: black;
	width: 100%;
	height: 50px;
	text-align: right;
	padding: 10px;
	position: fixed;

}

body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	
}

h1{
	font-size: 60px;
	text-align: center;
}

a{
	color: white;
	text-decoration: none;
	font-size: 30px;	
	padding-right: 10px;
	-webkit-transition-delay: 2s;
}

p{
	text-align: center;
}

#navplace{
	height: 60px;
}

#menunav{
	margin: 10px;
	padding-right: 20px;
}
#home{
	float: inherit;
	background-color: black;
	display: block;
	width: auto;
	height: 600px;
    padding: 10px;
    padding-top: 60px;
}

#aboutme{
	background-color: white;
	display: block;
	width: auto;
	height: 600px;
    padding: 10px;
    padding-top: 60px;


}
#paboutme, #h1aboutme{
	color: black;
}
#footer{
	padding: 50px;
	font-size: 20px;
	text-align: center;
	height: 200px;

}