nav {
	background-color: black;
	width: 100%;
	height: 50px;
	text-align: right;
	padding: 10px;
	position: fixed;
	border-color: #0099FF;
	border-bottom: solid;
	border-width: thin;
}

body {
	background-color: black;
	/*color: white;*/
	/*color: #0066FF;*/
	color: #0099FF;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	
}

h1{
	font-size: 60px;
	text-align: center;
}

a{
	/*color: white;*/
	/*color: #0066FF;*/
	line-height: 45px;
	color: #0099FF;
	text-decoration: none;
	font-size: 18px;	
	vertical-align: text-bottom;
	padding-right: 10px;

}

p{
	text-align: center;
}

#navplace{
	height: 60px;
}

#menunav{
	margin: 10px;
	padding-right: 20px;
}
#home{
	/*float: inherit;*/
	background-color: black;
	display: block;
	width: auto;
	height: 600px;
    padding: 10px;
    padding-top: 60px;
}

#aboutme{
	background-color: white;
	display: block;
	width: auto;
	height: 600px;
    padding: 10px;
    padding-top: 60px;


}
#paboutme, #h1aboutme{
	/*color: black;*/
	/*color: #0066FF;*/
	color: #0099FF;
}

#logo{
	float: left;
	height: 32px;
	width: 32px;
}
#footer{
	padding: 50px;
	font-size: 20px;
	text-align: center;
	height: 200px;

}